<a href="https://colab.research.google.com/github/Ducanhshadow/C_assigments/blob/main/Task1-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Read data

In [2]:
!gdown --id 1NlyCS-fuTsupwHDcYx0ecpnsTAi5Ls6V

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1NlyCS-fuTsupwHDcYx0ecpnsTAi5Ls6V
To: /content/Real_estate.csv
100% 22.0k/22.0k [00:00<00:00, 73.1MB/s]

In [3]:
import numpy as np
# Load data
data = np.genfromtxt('Real_estate.csv', delimiter=',')
data = data[1:] # xóa header
data = data[:, 1:]
print(data.shape)

X = data[:, :-1]
y = data[:, -1]

(414, 7)

In [4]:
print(X.shape)
print(y.shape)

(414, 6)
(414,)

# Train linear Regression

Ở đây code mẫu đã sử dụng thư viện Sklearn và dùng LinearRegression train model. **Anh chị hãy thay thế phần training này bằng kiến thức đã học trên lớp (Training với 1-sample, m-samples hoặc N-samples)** và đối chiếu kết quả ở phần Evaluation.

In [ ]:
from sklearn.model_selection import train_test_split
# chia data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [33]:
Train = {
    'X1 transaction date': X_train[:, 0],
    'X2 house age': X_train[:, 1],
    'X3 distance to the nearest MRT station': X_train[:, 2],
    'X4 number of convenience stores': X_train[:, 3],
    'X5 latitude': X_train[:, 4],
    'X6 longitude': X_train[:, 5],
    'Y house price of unit area': y_train
}

# Create the DataFrame using the dictionary
df_train = pd.DataFrame(Train)

# Print the DataFrame
df_train.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2013.417,20.3,287.60250,6.0,24.98042,121.54228,46.7
1,2013.500,15.2,3771.89500,0.0,24.93363,121.51158,29.3
2,2012.667,1.5,23.38284,7.0,24.96772,121.54102,47.7
3,2012.833,13.9,4573.77900,0.0,24.94867,121.49507,19.2
4,2012.833,15.0,1828.31900,2.0,24.96464,121.51531,20.9

In [ ]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)
import pandas as pd
dfX_train = pd.DataFrame(X_train)
dfY_train = pd.DataFrame(y_train)
df_train = pd.DataFrame(Train)

In [9]:
from sklearn.linear_model import LinearRegression
# Train model
reg = LinearRegression().fit(X_train, y_train)
print(reg)

LinearRegression()

In [ ]:
# Predict model
list_predict = []
for data_point in X_test:
  list_predict.append(reg.predict(data_point.reshape(1, -1))[0])

np_predict = np.array(list_predict)
print(np_predict)

Correlation

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(dfX_train[0], dfY_train[0])
plt.xlabel('transaction date')
plt.ylabel('price')
plt.show()
plt.scatter(dfX_train[1], dfY_train[0])
plt.xlabel('house age')
plt.ylabel('price')
plt.show()
plt.scatter(dfX_train[2], dfY_train[0])
plt.xlabel('distance to the nearest MRT station')
plt.ylabel('price')
plt.show()
plt.scatter(dfX_train[3], dfY_train[0])
plt.xlabel('number of convenience stores')
plt.ylabel('price')
plt.show()
plt.scatter(dfX_train[4], dfY_train[0])
plt.xlabel('latitude')
plt.ylabel('price')
plt.show()
plt.scatter(dfX_train[5], dfY_train[0])
plt.xlabel('longitude')
plt.ylabel('price')
plt.show()

In [ ]:
f = plt.figure(figsize=(19, 15))
plt.matshow(df_train.corr(), fignum=f.number)
plt.xticks(range(df_train.select_dtypes(['number']).shape[1]), df_train.select_dtypes(['number']).columns, fontsize=14, rotation=45)
plt.yticks(range(df_train.select_dtypes(['number']).shape[1]), df_train.select_dtypes(['number']).columns, fontsize=14)
cb = plt.colorbar()
cb.ax.tick_params(labelsize=14)
plt.title('Correlation Matrix', fontsize=16);

# Evaluation

In [11]:
def my_mean_squared_error(act, pred):
   differences_squared = (pred - act) ** 2
   mean_diff = differences_squared.mean()

   return mean_diff

def root_mean_squared_error(act, pred):
   differences_squared = (pred - act) ** 2
   mean_diff = differences_squared.mean()
   rmse_val = np.sqrt(mean_diff)

   return rmse_val

def my_mean_absolute_error(act, pred):
    abs_diff = np.absolute(pred - act)
    mean_diff = abs_diff.mean()

    return mean_diff


print(my_mean_squared_error(np_predict, y_test))
print(root_mean_squared_error(np_predict, y_test))
print(my_mean_absolute_error(np_predict, y_test))

73.56837932850163
8.577201136064236
6.18483634009769